@model MVCBikeShop.Models.ViewModels.BikeViewModel
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "Edit Goods";
}
<head>
    <link type="text/css" rel="stylesheet" href="~/Css/background.css" />
</head>
<body class="back">
    @*@await Html.PartialAsync("EditGoodsPartial")*@
    @*<div class="form-group">
            <input type="text" id="searchText" class="form-control" />
            <button id="search" class="btn btn-primary">Search</button>
        </div>*@
    @*<div class="form-group">
            <input type="text" id="manufactury" value="Dorozhnik" class="form-control" />
            <button id="filterButtonSearch" class="btn btn-primary">Search</button>
        </div>*@




</body>
<div id="bikeList"></div>

@*<script src="~/Js/jquery-min.js"></script>
    <script src="~/Js/searchBikeList.js"></script>*@

@*<script src="~/Js/bootstrap.bundle.min.js"></script>
    <script src="~/Js/jquery-min.js"></script>
    <script src="~/Js/searchBikeList.js"></script>*@
