
@model MVCBikeShop.Models.ViewModels.BikeViewModel
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

@{ }

@*@await Html.PartialAsync("IndexPartial")*@

@*<button id="showBikesButton">ShowBikes</button>*@
<div class="wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="0.3s">
    <div id="mainBikeList"></div>
</div>


@*<form method="get">
        <nav>
            <ul class="pagination justify-content-center">
                <li class="page-item"><input type="submit" value="Previous" class="page-link"asp-controller="Home" asp-action="Index" asp-route-id="@(ViewBag.CurrentPage-1)"/></li>
                @for (int i = 0; i < ViewBag.PagesCount; i++)
                {
                    <li class="page-item"><input type="submit" class="page-link" value="@(i + 1)" asp-controller="Home" asp-action="Index" asp-route-id="@(i+1)"/></li>
                }
                <li class="page-item"><input type="submit" value="Next" class="page-link" asp-controller="Home" asp-action="Index" asp-route-id="@(ViewBag.CurrentPage+1)"  /></li>
            </ul>
        </nav>
    </form>*@


<div style="height:10px;"></div>
<footer>
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="social-icons wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="0.3s">
                    <ul>
                        <li class="facebook"><a href="https://uk-ua.facebook.com/"><i class="fa fa-facebook"></i></a></li>
                        <li class="twitter"><a href="https://twitter.com/"><i class="fa fa-twitter"></i></a></li>
                        <li class="google-plus"><a href="#"><i class="fa fa-google-plus"></i></a></li>
                        <li class="instagram"><a href="https://www.instagram.com/"><i class="fa fa-instagram"></i></a></li>
                        <li class="youtube"><a href="https://www.youtube.com/?hl=uk&gl=UA"><i class="fa fa-youtube"></i></a></li>
                        <li class="dribbble"><a href="#"><i class="fa fa-dribbble"></i></a></li>
                    </ul>
                </div>
                <div class="site-info wow fadeInUp" data-wow-duration="1000ms" data-wow-delay="0.3s">
                    <p>All copyrights reserved &copy; 2021 - Designed & Developed by Olexandr Stakhniuk <a rel="nofollow" href=""></a></p>
                </div>
            </div>
        </div>
    </div>
</footer>



