.myDiv{
	  background-image: url("../images/wh-back.png");
  background-repeat: no-repeat;
  background-size: cover;
  -moz-background-size: cover;
  -webkit-background-size: cover;
  -o-background-size: cover;
  -ms-background-size: cover;
  background-position: center center;
  padding: 115px 0;

}
.card{
	opacity:0.9;
}